.personCard {
    flex: 1 0 33%;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;
    > .avatar {
        max-width: 320px;
        max-height: 320px;
        width: 320px;
        height: 320px;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    }
    > .name {
        margin: 12px auto 0;
    }
    > .title {
        color: rgb(19, 13, 79);
        margin-bottom: 0;
    }
    > .social {
        color: #333;
        font-size: 30px;
        a {
            margin-right: 4px;
            vertical-align: middle;
            &:hover {
                color: #0f6ecd;
            }
        }
    }
}