# Build Output
public/

db.json
.deploy*/

### Gulp ###
# package.json
node_modules/

### Atom / VS(C) ###
.ftpconfig
.sftpconfig
.vscode/
.vs/

### Logs and Databases ###
*.log
*.sql
*.sqlite

## MacOS / Windows ###
*.DS_Store
Desktop.ini
Thumbs.db
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk
ehthumbs.db
ehthumbs_vista.db
*.lnk