html * { box-sizing: inherit; }
*, *::after, *::before {
    box-sizing: inherit;
}
html, body {
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    font-family: Arial, Verdana, sans-serif;
}
html { height: 100vh; }
body {
	position: relative;
    margin: 0;
    min-height: 100vh;
	display: flex;
    flex-flow: column nowrap;
}
.sr-only {
    font-size: 0;
    height: 0;
    width: 0;
}
@for $i from 1 through 6 {
	h#{$i} {
		font-size: 64px / $i;
		margin: 0;
	}
}
p {
	margin: 0;
}
section {
    padding: 32px;
}
a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}